.content{
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
    margin-top: 80px;
    justify-content: center;
    text-align: justify;

}

.image{
    margin-left: auto;
    margin-right: auto;
    width: 320px;
    height: 450px;
}